<div class="container-fluid">
{{#each resources}}
    <div class="card">
      <div class="card-header text-center">
        <p class="panel-title ">
          {{name}}
        </p>
      </div>
      <div class="card-body">
        <p>
          {{body}}
        </p>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-3 footer-filler"></div>
          <div class="col button-spot">
            <a href="{{button.url}}" target="_blank" class="btn btn-primary">{{button.display}}</a>
          </div>
          <div class="col-3 links-spot">
            {{#each links}}
              <a href="{{url}}" target="_blank" class="card-link">{{display}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
{{/each}}
</div>
