<div class="row" style="flex-direction: column;">
  {{#each resources}}
    <div class="card">
      <div class="card-header text-center">
          <a class="panel-title" id="{{href name}}" href="#{{href name}}">
              {{name}}
          </a>
      </div>
      <div class="card-body">
        <p>
          {{body}}
        </p>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-3 footer-filler"></div>
          <div class="col button-spot">
            <a href="{{button.url}}" target="_blank" class="btn btn-primary">{{button.display}}</a>
          </div>
          <div class="col-3 links-spot">
            {{#each links}}
              <a href="{{url}}" target="_blank" class="card-link">{{display}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
  <nav id="footer" class="navbar fixed-bottom animated">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="https://tallyco.in/s/jgcy2e/" target="_blank">Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/JWWeatherman_/status/1093518624155975680" target="_blank">Feedback</a>
      </li>
    </ul>
  </nav>
</div>
