<div class="row resources">
  <ul class="list-group col-12">
  {{#each resources}}
    <li class="list-group-item">
      <div class="card">
        <div class="card-header text-center">
          {{name}}
        </div>
        <div class="card-body">
          <p>
            {{body}}
          </p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col"></div>
            <div class="col button-box">
              <a href="#{{button.link}}" class="btn btn-primary">{{button.display}}</a>
            </div>
            <div class="col links">
              {{#each links}}
                <a href="#{{link}}" class="card-link align-baseline">{{display}}</a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </li>
  {{/each}}
  </ul>
</div>
